<!doctype html>
<html>
<head>
    <title>Arnaud's website</title>
    <link rel="stylesheet" href="/css/style.css" media="all"/>
</head>
<body>
<div id ="header">
    <nav>
    <ul>
    <%
    for (var key in menu) {
        var menuItem = menu[key];
        %>
        <li>
            <a href="<%= menuItem.href %>" title="<%= menuItem.title %>" class="<%= menuItem.class %>"><%= menuItem.label %></a>
        </li>
        <%
    }
    %>
    </ul>
    </nav>
    <h1 class="title">Hello<span>(my)</span>World!</h1>
</div>
<%- body %>
</body>
</html>
